<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>!!VEGGIE BURGER TAST TEST TRACKER!!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgerbuttons.js"></script>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
