body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    /* background-color:  rgba(146, 241, 142, 0.753); */
    background-image: url("../img/burgertemplate.png");
  }
  
  .burger-Display {
    background-color:  rgba(193, 245, 191, 0.979);
  }

  .sideTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: cursive;
    font-style: italic;
  }

  .munched-burger {
    color: transparent;
    animation-name: munch;
    animation-duration: 1s;
    /* position: relative; */
    width: 95%;
    height: 55px;
  }
  @keyframes munch {
    0%   {background: url("../img/munch_/1.png");
          background-size: 100% 100%;}
    20%  {background: url("../img/munch_/2.png");
          background-size: 100% 100%;}
    40%  {background: url("../img/munch_/3.png");
          background-size: 100% 100%;}
    55%  {background: url("../img/munch_/2.png");
          background-size: 100% 100%;}
    65%  {background: url("../img/munch_/3.png");
          background-size: 100% 100%;}
    75%  {background: url("../img/munch_/2.png");
          background-size: 100% 100%;}
    85%  {background: url("../img/munch_/3.png");
      background-size: 100% 100%;}  
    100% {background: url("../img/munch_/2.png");
          background-size: 100% 100%;}
  }

  .munched-burger .change-devour {
    color: transparent;
    background: transparent;
  }

  .munched-burger .delete-burger {
    color: transparent;
    background: transparent;
  }

